<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件，还可用 
    Web 管理工具配置应用程序设置。可使用
    Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    所有设置和注释都列在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\vx.x\Config 中
-->
<configuration>
  
  <appSettings>
    <!--正式-->
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.9.30)(PORT=1521)))(CONNECT_DATA=(SID=rac1)));User ID=guketm;Password=guketm;Persist Security Info=true;Unicode=true;"/>
    <!--本地-->
    <!--<add key="ConnectionString" value="User ID=system;Password=123;Data Source=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 1521)) )(CONNECT_DATA =(SERVER = DEDICATED) (SERVICE_NAME = test0805) ) )"/>-->
    <!--测试-->
    <add key="ConnectionStringTest" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.9.21)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME = orclapp)));User ID=wego0417;Password=wego0417;Persist Security Info=true;Unicode=true;"/>
    <!--0使用测试帐套，1使用正式帐套-->
    <add key="connUse" value="0"/>
    <!--""使用测试帐套，"wegoeas."使用正式帐套-->
    <add key="sqlHead" value="wegoeas."/>
  </appSettings>
  <system.web>
    <httpRuntime useFullyQualifiedRedirectUrl="true" executionTimeout="99999" maxRequestLength="409600"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入 
            已编译的页面中。但由于这会 
            影响性能，因此请仅在开发过程中将此值 
            设置为 true。
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
 
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <identity impersonate="false" />
        <sessionState mode="Off" />
  </system.web>
  <runtime>
    <!-- 为应用程序禁用 CAS 发行者策略检查 -->
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>